.swiper {
  width: 200px;
  height: 200px;
  border-radius: 0.2rem;
  border: 1px solid #c4c4c4;
}

.title-cars {
  background-color: #000;
  color: white;
  max-width: 250px;
  text-align: center;
}

.car-wrapper {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  box-shadow: 10px 15px 20px 15px #3333330d;
  border-radius: 10px;
}

.details {
  padding: 0 1rem;
}

.options-price {
  text-align: center;
  padding-top: 0.2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.slider-wrapper {
  max-width: 200px;
}

.rate-details ul {
  padding-left: 1rem;
}

.reservation-cta {
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: #ffa620;
  color: #fff;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  text-decoration: none;
  width: 160px !important;

}

.reservation-cta:hover {
  color: #fff;
  transform: scale(1.1)
}

  #carouselControl{
  background-color: rgba(9, 9, 9, 0.531);
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
}



@media (max-width: 768px) {
  .car-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .rate-details {
    max-width: 250px;
  }

  .details {
    padding: 1rem;
  }
}

































/* cars body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.car-card {
  width: 100%;
  position: relative;
  max-width: 800px;
  max-height: 500px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 15px 25px 25px 25px;
  border-radius: 25px;
  height: 400px;
  border-radius: 10px;

}



.category-title{
  padding: 8px;
}


.blog-slider__item {
  display: flex;
  align-items: center;
}



.car-image {
  width: 300px;
  height: 300px;
  box-shadow: 10px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translate(-80px, 22px);
}


.car-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}


.blog-slider__content {
  width: 400px;

  text-align: center;
  padding: 10px;
  transform: translate(260px, -290px);
}


.car-content {
  background-color: #ec9407;
  margin-bottom: 2rem;
  width: 700px;
  min-width: 250px;
  min-height: 350;

}

.blog-slider__code {
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.car-btn {
  display: inline-flex;
  margin-top: 1.5rem;
  padding: 10px 25px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  background-color: white;
  color: #ec9407;
}


.cars-head {
  margin: 4rem;
}


.section-details {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-width: 200px;
}

.details-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details-body {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.rate-details {
  text-align: left;
}




@media screen and (max-width: 768px) {

  .car-card {
    min-height: 600px;
    height: auto;
    margin: 180px auto;
  }
  .blog-slider__item {
    flex-direction: column;
  }

  .category-title {
    transform: translateY(-150px);
  }
  .blog-slider__content {
    text-align: center;
    padding: 0 30px;
    width: 400px;
    transform: translate(-50px, -50px);
  }

  .car-content {
    width: 400px;
    height: 500px;

  }
  .car-image {
    width: 250px;
    height: 250px;
    transform: translate(50px, -150px);
  }
}



@media screen and (max-width: 992px) and (min-width: 768px) {
  .car-card {
    max-width: 680px;
    height: 500px;
  }
  .blog-slider__content {
    padding: 0 30px;
    text-align: center;
    width: 400px;
    transform: translate(215px, -270px);
  }
}


@media screen and (max-height: 500px) and (min-width: 992px) {
  .car-card {
    height: 500px;
  }
}


@media screen and (max-width: 576px) {

  .blog-slider__content {
    padding: 0;
    margin-top: 1rem;
    width: 200px;
    transform: translate(60px, -270px);
  }

  .car-content {
    width: 300px;

  }
}






 */