* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.hidden {
	display: none;
}

label {
	margin-bottom: 10px;
	display: block;
}

.route-link {
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font-size: 1.1rem;
	--bs-bg-opacity: 1;
	list-style: none;
	margin: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: rgba(255, 255, 255, 0.55);
}

.route-link:hover {
	color: rgba(239, 150, 6, 0.8);
	transform: scale(1.1);
}

.nav-link:hover {
	color: rgba(239, 150, 6, 0.8) !important;
	transform: scale(1.1);
}

/* navbar */
.navbar {
	min-height: 90px;
	font-size: 1.1rem;
}

.navbar-brand {
	margin-left: 1rem;
}

.btn-login {
	margin-right: 5rem;

}

.li-login {
	margin-right: 9rem;
}

nav.nav-color {
	background-color: #060606 !important;
}

header {
	margin-bottom: 0;
}

/* Main/carrousel content section */

main {
	margin: 0;
	padding: 0;
}

.main img {
	max-height: 550px;
	min-height: 230px;
}

.main {
	margin: 0;
	padding: 0;
	transition: 3ms;
}

.carousel-caption {
	display: flex;
	justify-content: center;
	align-content: center;
}

/* All section titles */
.section-Title {
	display: block;
	width: 100%;
	justify-content: center;
}

/* Main cars section */
.main-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}


.cards-wrapper {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
}

.card {
	width: 300px;
	height: 360px;
	padding: 2rem 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	display: flex;
	align-items: center;
	box-shadow: 0px 7px 7px rgba(188, 183, 183, 0.5);
	transform: 0.5s ease-in-out;

}

.card:hover {
	transform: translateY(20px);
}

.card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(244, 164, 4, 0.082), rgba(40, 39, 39, 0.97));
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}

.card:hover:before {
	opacity: 1;

}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;

}

.card .info {
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;

}

.card:hover .info {
	opacity: 1;
	transform: translateY(0px);
	margin-top: 5rem;
}

.card .info h1 {
	margin: 0;

}

.card .info p {
	letter-spacing: 1px;
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.card .info .btn {
	text-decoration: none;
	padding: 0.5rem 1rem;
	background: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.card .info .btn {
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}



h5 {
	color: #f3a735;
}


/* How to rent section */

.rent-steps {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.icon-cards-container {
	justify-content: center;
	align-items: center;
	padding-top: 2rem;

}

.card-img-top {
	max-width: 25%;
	object-fit: cover;
}

.icon-card {
	margin: 0;
	padding: 0;
	max-width: 220px;
}


/* FAQ section */
.questions {
	margin-top: 2rem;
	padding: 5px 40px;
	text-align: left;

}

/* rent you car section */
.business {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 2rem 4rem;
	max-width: 100%;
}

/* Reservation contact section  */
.contact-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.contact-info {
	max-width: 380px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 15px;
	margin-right: 30px;
	margin-top: 5rem;
}

.contact-info i {
	margin-right: 10px;
	font-size: 25px;
}

.contact-form {
	max-width: 650px;
	margin-right: 40px;
	margin-left: 40px;
}

.contact-info,
.contact-form {
	flex: 1;
}

.contact-form h2 {
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
}

.contact-form .text-box {
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .text-box:first-child {
	margin-right: 10px;
}

.contact-form textarea {
	border: none;
	width: 100%;
	padding: 12px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.form-button {
	float: right;
	background-color: #f3a735;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 50px;
	cursor: pointer;
	color: #fff;
}

.form-button:hover {
	background-color: #ec9407;


}

@media screen and (max-width: 950px) {
	.contact-section {
		flex-direction: column;
		align-items: center;
	}

	.contact-info,
	.contact-form {
		margin: 30px 50px;
	}

	.contact-form h2 {
		font-size: 30px;
	}

	.contact-form .text-box {
		width: 100%;
	}

	.contact-info {
		font-size: 12px;
		align-items: center;
		margin-left: 20px;
		margin-top: 2rem;
	}
}

/* profile section */
.profile-section {
	display: flex;
	align-items: center;
	justify-content: center;

}

.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 4rem auto;
	width: 400px;
	height: 400px;
	box-shadow: 0 7px 10px 0 rgba(231, 228, 220, 0.83);
	border-radius: 25px;
	background-color:rgb(255, 255, 255);
}
.img-profile{
	margin-top:1.6rem;
	margin-bottom: 2rem;

}
.img-profile img {
	width:130px;
  object-fit:cover;
}

.sub-header-profile{
 margin: 0.5rem 0.6rem;
}
.nameUser h2{
 font-size:1.4rem;
}
.emailUser p{
	text-align:center;
	font-size:1rem;

}

.user-nickname{
	text-transform: uppercase;
	text-align:center;
	font-size:1rem;
}


/* footer section */
.footer-basic {
	padding: 40px 0;
	background-color: #ffffff;
	color: #4b4c4d;
}

.footer-basic ul {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
}

.footer-basic li {
	padding: 0 10px;
}

.footer-basic ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}

.footer-basic ul a:hover {
	opacity: 1;
}

.footer-basic .social {
	text-align: center;
	padding-bottom: 25px;
}

.footer-basic .social>a {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin: 0 8px;
	color: inherit;
	opacity: 0.75;
}

.footer-basic .social>a:hover {
	opacity: 0.9;
}

.footer-basic .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
}