<main>
	<!-- Main image section -->
	<section class="main">
		<div id="carouselWithCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/familyInTravel.png" class="d-block w-100" alt="Two people are in a car" />
					<div class="carousel-caption d-md-block">
						<h1>Always your best option...</h1>
					</div>
				</div>
				<div class="carousel-item">
					<img src="/images/head2.png" class="d-block w-100" alt="Car in a road" />
					<div class="carousel-caption d-md-block">
						<h1>... wherever you wanna go...</h1>
					</div>
				</div>
				<div class="carousel-item">
					<img src="/images/head3.png" class="d-block w-100" alt="A couple in the back of a car" />
					<div class="carousel-caption d-md-block">
						<h1>... we go with you!</h1>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselWithCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselWithCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>
</main>
<!-- Cards section -->
<section class="main-cards">
	<br />
	<div class="section-Title text-center">
		<h5>WANT TO DO YOU NEED?</h5>
		<h2>OUR SERVICES</h2>
	</div>

	<div class="containerCards">
		<div class="card">
			<img src="/images/girl_in_car.png" alt="Girl in a car photo" />
			<div class="show-more">
				<h2>
					Travel <br />
					economy
				</h2>
				<a href="#"> see more</a>
			</div>
		</div>

		<div class="card">
			<img src="/images/family.png" alt="Family in a car photo" />
			<div class="show-more">
				<h2>
					Share with the <br />
					family
				</h2>
				<a href="#"> see more</a>
			</div>
		</div>

		<div class="card">
			<img src="/images/car_with_bagged.png" alt="Car with bagged" />
			<div class="show-more">
				<h2>
					More lodge <br />
					space
				</h2>
				<a href="#"> see more</a>
			</div>
		</div>

		<div class="card">
			<img src="/images/extrem_amarok.png" alt="Pickup photo" />
			<div class="show-more">
				<h2>
					Go <br />
					extreme
				</h2>
				<a href="#"> see more</a>
			</div>
		</div>
	</div>
</section>

<section class="how-to-rent">
	<div class="section-Title text-center">
		<h5 id="scrollspyHowToRent">RENT IN JUST 3 STEPS</h5>
		<h2>HOW TO RENT?</h2>
	</div>
	<div class="icon-containers row row-cols-1 row-cols-md-3 g-4">
		<div class="col">
			<div class="icon-card h-25 d-inline-block">
				<img src="/images/person.jpg" class="card-img-top" alt="person icon" />
				<div class="card-body h-25">
					<h5 class="card-title">Login</h5>
					<p class="card-text">
						Register and sign into your account to make a reservation
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="icon-card h-25 d-inline-block">
				<img src="/images/car.jpg" class="card-img-top" alt="car icon" />
				<div class="card-body h-25">
					<h5 class="card-title">Choose a car</h5>
					<p class="card-text">
						Look all our cars and select the one that fix your needs
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="icon-card h-25 d-inline-block">
				<img src="/images/calendar.jpg" class="card-img-top" alt="calendar icon" />
				<div class="card-body h-25">
					<h5 class="card-title">Book with us!</h5>
					<p class="card-text">
						Reserve and we will contact you immediately to comfirm
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FAQ Section -->
<section class="questions">
	<div class="text-center">
		<h5 id="scrollspyFQA">WANTO TO KNOW MORE?</h5>
		<h2>FREQUENTLY ASKED QUESTIONS</h2>
	</div>
	<br />
	<div class="accordion" id="accordionPanelsStayOpen">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
					What are the requirements for renting a car?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingOne">
				<div class="accordion-body">
					<p>
						You must be legally of age and must have a driver’s license
						according to the vehicle you want to rent.
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
					What are the payment methods?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingTwo">
				<div class="accordion-body">
					<p>We accept cash, transfers and credit cards.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingThree">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
					aria-controls="panelsStayOpen-collapseThree">
					What is included in the price?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingThree">
				<div class="accordion-body">
					<p>
						The price includes the use of the chosen vehicle for the time
						rented, also includes an accidents insurance which covers material
						damages of our vehicle. It does not include medical insurance or
						third-party damages.
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingFour">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
					aria-controls="panelsStayOpen-collapseFour">
					What are the conditions for the fuel?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingFour">
				<div class="accordion-body">
					<p>
						We give the vehicle with a full tank. You can fill the tank before
						returning the vehicle or you can pay us the necessary amount to fill
						the tank when you return it.
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingFive">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
					aria-controls="panelsStayOpen-collapseFive">
					Miles limits?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingFive">
				<div class="accordion-body">
					<p>
						We don't have any limit for miles to use, you can drive as far as
						you want inside the country.
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingSix">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true" aria-controls="panelsStayOpen-collapseSix">
					What happens if I return the car later?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingSix">
				<div class="accordion-body">
					<p>
						We have a tolerance of 30 minutes, after that time you will be
						charged for the fraction of the time that you were late
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact-section">
	<div class="contact-form">
		<h5 class="text-center">WANT TO KNOW MORE?</h5>
		<h2>Contact us!</h2>
		<form action="https://formspree.io/f/mjvlavyo" class="contact" method="post">
			<input type="text" class="text-box" name="Name" placeholder="Full Name" required />
			<input type="email" class="text-box" name="Email" placeholder="Email" required />
			<input type="number" class="text-box" name="Phone" placeholder="Phone" required />
			<select class="text-box" name="What car are you interested in?">
				<option>Select an option...</option>
				<option>Economic / Compact</option>
				<option>Sedan / Family car</option>
				<option>SUV</option>
				<option>Pickup</option>
			</select>
			<textarea name="Message" placeholder="Message" rows="6"></textarea>
			<button class="form-button" type="submit">Send</button>
		</form>
	</div>
</section>
