<!-- Main image section -->

<section class="profile-section">
  <div class="profile-container">

    <div class="img-profile">
      <img
        alt="User's profile picture"
        class="rounded-circle img-fluid profile-image"
      />
    </div>
    <div class="sub-header-profile">
      <div class="nameUser">
        <h2 class="user-name"></h2>
      </div>
      <div class="emailUser">
        <p class="lead text-muted user-email"></p>
      </div>
    </div>
    <div class="info-profile">
			<h5 class="user-nickname">

			</h5>
		</div>
    <!-- <div class="row align-items-center profile-header">
			<div class=" user-picture col-md-2">
				<img alt="User's profile picture" class="rounded-circle img-fluid  profile-image mb-3 mb-md-0" />
			</div>
			<div class="col-md">
				<h2 class="user-name"></h2>
				<p class="lead text-muted user-email"></p>
			</div>
		</div>

		<div class="row">
			<pre class="rounded">
		<code id="profile-data" class="json"></code></pre>
		</div> -->
  </div>
</section>
