<section class="business">
	<div>
		<h2 class="text-center">Earn extra money with your car!</h2>
		<h5 class="text-center">
			Do you have your car free several days a week? You can place your car for
			rent with us and earn extra money.
		</h5>
		<h5>Car requirements:</h5>
		<ul>
			<li>Be in excellent condition.</li>
			<li>Be at most eight years old and have less than 80,000 Mileage.</li>
			<li>Have an active accident insurance for material damages.</li>
			<li>Have legal documentation up to date.</li>
		</ul>

		<h5>Conditions:</h5>
		<ul>
			<li>
				The lease of your car will depend on the demand. We can’t guarantee
				there will always be clients.
			</li>
			<li>
				The fee will depend on the category of your car. Currently there are
				four categories available: economy, family, SUV or pickup. Our share is
				20%.
			</li>
			<li>
				You must let us know the availability of your car at least 24 hours
				beforehand. You cannot make changes after this point.
			</li>
			<li>
				You must leave your car with full fuel tank. You will receive it the
				same way.
			</li>
		</ul>

		<h5>Registering for the first time:</h5>
		<p>
			Please fill in the form with your data and the data from your car. In few
			days you will be contacted for an inspection of your car and documentation
			and if everything is ok, we’ll sign a contract.
		</p>
	</div>
</section>
<section class="contact-section">
	<div class="contact-form">
		<h2>Rent you car with us!</h2>
		<form
			action="https://formspree.io/f/mjvlavyo"
			class="contact"
			method="post"
		>
			<input
				type="text"
				class="text-box"
				name="Name"
				placeholder="Full Name"
				required
			/>
			<input
				type="email"
				class="text-box"
				name="Email"
				placeholder="Email"
				required
			/>
			<input
				type="number"
				class="text-box"
				name="Phone"
				placeholder="Phone"
				required
			/>
			<select class="text-box" name="What car do you have">
				<option>Select your type of car...</option>
				<option>Compact</option>
				<option>Sedan</option>
				<option>SUV</option>
				<option>Pickup</option>
			</select>
			<select class="text-box" name="What year is the car">
				<option>Select the year of your car</option>
				<option>2022</option>
				<option>2021</option>
				<option>2020</option>
				<option>2019</option>
				<option>2018</option>
				<option>2017</option>
				<option>2016</option>
				<option>2015</option>
			</select>
			<input
				type="text"
				class="text-box"
				name="Brand"
				placeholder="Brand"
				required
			/>
			<input
				type="text"
				class="text-box"
				name="Model"
				placeholder="Model"
				required
			/>
			<input
				type="number"
				class="text-box"
				name="Mileage"
				placeholder="Mileage"
				required
			/>
			<textarea name="Message" placeholder="Message" rows="6"></textarea>
			<button class="form-button" type="submit">SEND</button>
		</form>
	</div>
</section>
