<!-- Contact section start  -->
<div class="contact-section">
	<div class="contact-info">
		<h5 class="text-center">You can also find us here!</h5>
		<div>
			<i class="icon ion-location"></i> May Avenue 678, Buenos Aires, Argentina
		</div>
		<div>
			<i class="icon ion-email"></i> rentalcarteaminternational@gmail.com
		</div>
		<div><i class="icon ion-iphone"></i> +54-911-62283178</div>
		<div><i class="icon ion-clock"></i> Monday-Sunday 7:00 AM to 21:00 PM</div>
	</div>
	<div class="contact-form">
		<h2>Reserve with us!</h2>
		<form
			action="https://formspree.io/f/mjvlavyo"
			class="contact"
			method="post"
		>
			<input
				type="text"
				class="text-box"
				name="Name"
				placeholder="Full Name"
				required
			/>
			<input
				type="email"
				class="text-box"
				name="Email"
				placeholder="Email"
				required
			/>
			<input
				type="number"
				class="text-box"
				name="Phone"
				placeholder="Phone"
				required
			/>
			<select class="text-box" name="What car are you interested in?">
				<option>Select an option...</option>
				<option>Economic / Compact</option>
				<option>Sedan / Family car</option>
				<option>SUV</option>
				<option>Pickup</option>
			</select>
			<input
				class="text-box"
				id="rental-start"
				name="rental-start"
				type="datetime-local"
				value="2022-4-11T08:30"
			/>
			<input
				class="text-box"
				id="rental-end"
				name="rental-end"
				placeholder="Enter a date and time for return the car:"
				type="datetime-local"
				value="2022-4-1T08:30"
			/>
			<textarea name="Message" placeholder="Message" rows="6"></textarea>
			<button class="form-button" type="submit">Reserve</button>
		</form>
	</div>
</div>
<!-- Contact section end  -->
