<!-- Contact section start  -->
<div class="contact-section">
	<div class="contact-info">
		<h5 class="text-center">You can find us here!</h5>
		<div>
			<i class="icon ion-location"></i> 678 May Avenue, Buenos Aires, Argentina
		</div>
		<div>
			<i class="icon ion-email"></i> rentalcarteaminternational@gmail.com
		</div>
		<div><i class="icon ion-iphone"></i> +54-911-62283178</div>
		<div><i class="icon ion-clock"></i> Monday-Sunday 7:00 AM to 21:00 PM</div>
	</div>
	<div class="contact-form">
		<h2>Reserve with us!</h2>
		<div class="loader hidden"></div>
		<input
			type="text"
			class="text-box reservation-form-fullname"
			name="Name"
			placeholder="Full Name"
			required
			disabled
		/>
		<input
			type="email"
			class="text-box reservation-form-email"
			name="Email"
			placeholder="Email"
			required
			disabled
		/>
		<input
			type="number"
			class="text-box reservation-form-phone"
			name="Phone"
			placeholder="Phone"
			required
		/>
		<select
			class="text-box reservation-form-car-type"
			name="What car are you interested in?"
		>
			<option>Select an option...</option>
			<option>Economic / Compact</option>
			<option>Sedan / Family car</option>
			<option>SUV</option>
			<option>Pickup</option>
		</select>
		<input
			class="text-box reservation-form-start"
			id="rental-start"
			name="rental-start"
			type="datetime-local"
			value="2022-4-11 08:30"
			required
		/>
		<input
			class="text-box reservation-form-end"
			id="rental-end"
			name="rental-end"
			placeholder="Enter a date and time for return the car:"
			type="datetime-local"
			value="2022-4-1 08:30"
			required
		/>
		<textarea
			class="text-box reservation-form-description"
			name="Message"
			placeholder="Message"
			rows="6"
			required
		></textarea>
		<button class="form-button reservation-form-btn">Reserve</button>
	</div>
</div>
<!-- Contact section end  -->
